{$CADDY_HOST:localhost} {
    tls internal
    reverse_proxy landing:3002
}

composer.{$CADDY_HOST:localhost} {
    tls internal
    reverse_proxy composer:3001
}

collator.{$CADDY_HOST:localhost} {
    tls internal
    reverse_proxy collator:3000 {
        flush_interval -1
    }
}

demo.{$CADDY_HOST:localhost} {
    tls internal
    reverse_proxy demo-collator:3003 {
        flush_interval -1
    }
}

collator-demo.{$CADDY_HOST:localhost} {
    tls internal
    reverse_proxy demo-collator:3003 {
        flush_interval -1
    }
}

composer-demo.{$CADDY_HOST:localhost} {
    tls internal
    reverse_proxy demo-composer:3004 {
        flush_interval -1
    }
}
